$dockbarColor: blue;
$dockbarHighlightColor: lightblue;

/*--------------------color--------------------*/
/*------main color of dockbar and text-------*/
.aui{
	
.ice.dockbar-split .dockbar .navbar-inner .nav > li > a {
    background-color:$dockbarColor;
    color: #fff;
    line-height: 31px;
}
/*--------styles color of dockbar menu text(hover)/add/edit/preview buttons----*/
.ice.dockbar-split .dockbar .navbar-inner .nav > li > a:focus, .ice.dockbar-split .dockbar .navbar-inner .nav > li > a:hover {
    background-color:$dockbarHighlightColor;
    color: #fff;
}
/*------styles dropdown menu----------*/
.ice .dropdown-menu{
	background-color:$dockbarColor;
}
/*------styles child menu items-------*/
.ice .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .ice .dropdown-submenu:hover > a, .ice .dropdown-submenu:focus > a {
    background-color: $dockbarColor;
    background-image: linear-gradient(to bottom, $dockbarColor, $dockbarColor);
    background-repeat: repeat-x;
    color: white;
    text-decoration: none;
}
/*------styles child menu items on hover-------*/
.ice .dropdown-menu > li > a:hover, .ice .dropdown-menu > li > a:focus, .ice .dropdown-submenu:hover > a, .ice .dropdown-submenu:focus > a {
    background-color: $dockbarHighlightColor;
    background-image: linear-gradient(to bottom, $dockbarHighlightColor, $dockbarHighlightColor);
    background-repeat: repeat-x;
    color: white;
    text-decoration: none;
}
/*------Styles menu on dock bar when toggled open-------*/
.ice.dockbar-split .dockbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
    background-color: $dockbarHighlightColor;
    background-image: linear-gradient($dockbarHighlightColor, $dockbarHighlightColor);
    box-shadow: none;
}
/*------styles child submenu under site administration---------*/
.ice.dockbar .navbar-inner .site-administration-menu li a {
    color: white;
    display: block;
    padding: 3px 5px 3px 40px;
}
/*------styles child submenu under site administration(hover)-------*/
.ice .dockbar .navbar-inner .site-administration-menu li a:focus, .ice .dockbar .navbar-inner .site-administration-menu li a:hover {
    background: none repeat scroll 0 0 $dockbarHighlightColor;
    color: #fff;
    text-decoration: none;
}
/*--------------styles child submenu icons-----------------*/ 
.ice.dockbar .navbar-inner .site-administration-menu li a i {
    font-size: 0.8em;
}
/*------styles my sites menu item background color-------*/
.ice .dropdown-menu > .active > a, .ice .dropdown-menu > .active > a:hover, .ice .dropdown-menu > .active > a:focus {
    background-color: $dockbarHighlightColor;
    background-image: linear-gradient(to bottom, $dockbarHighlightColor, $dockbarHighlightColor);
    background-repeat: repeat-x;
    color: white;
    outline: 0 none;
    text-decoration: none;
}
/*------color of toggle edit controls link when selected-------*/
.ice.dockbar-split.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
    background: none repeat scroll 0 0 #f5af45;
}
/*----------avatar icon------------*/
.ice.dockbar .user-avatar img {
    margin-top: -2px;
    text-decoration: none;
    vertical-align: middle;
    width: 22px;
}
/*---------------------------------------------*/

	.ice.user-avatar-image {
		width: 20px;
	}
}
